.countryDetail h1 {
  font-size: 3.6rem;
  margin-bottom: 3rem; }

.countryDetail .content {
  display: flex;
  justify-content: space-between; }

.countryDetail .item {
  width: 33.33333%;
  box-sizing: border-box;
  padding-right: 2rem; }
