nav {
  height: 6rem;
  width: 100%;
  background-color: #e7e7e7;
  box-shadow: 0 3px 3px #ccc;
  position: fixed;
  top: 0;
  left: 0; }
  @media (max-width: 1200px) {
    nav {
      box-sizing: border-box;
      padding: 0 3rem; } }
  nav h1 {
    display: inline-block;
    color: #777;
    font-size: 2.2rem;
    font-weight: 700; }
  nav .nav {
    width: 120rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    @media (max-width: 1200px) {
      nav .nav {
        width: 100%; } }
