.main {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .main {
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 5rem; } }
  @media (max-width: 768px) {
    .main {
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 2rem; } }
