@import "../base/variable.scss";
.card {
    display: inline-block;
    @include boxSize(23%, 100%);
    margin-bottom: 2rem;
    border: 1px solid #646464;
    border-radius: .5rem;
    overflow: hidden;
    text-decoration: none;
    color: #000;

    @media (max-width: 1200px) {
        width: 30%;
    }

    @media (max-width: 768px) {
        width: 47%;
    }

    @media (max-width: 550px) {
        width: 100%;
    }

    &:hover {
        border: 1px solid rgb(163, 209, 198);
        .header {
            background-color: rgb(163, 209, 198);
            border-bottom: 1px solid rgb(163, 209, 198);
        }
    }
    .header {
        padding: 1rem;
        background-color: #ececec;
        border-bottom: 1px solid #646464;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 900px) {
            flex-direction: column;
            text-align: center;
        }

        h3 {
            font-size: $card-title;
            font-weight: 700;
            margin-bottom: .5rem;
        }
        h4 {
            font-size: $title-s;
            font-weight: 400;
        }
        .logo {
            @include boxSize(9rem, 6rem);
            background-color: #fff;
            margin-left: 1rem;
            flex-shrink: 0;

            @media (max-width: 900px) {
                order: -1;
                margin-bottom: 2rem;
            }
        }
    }
    .content {
        font-size: $card-title-s;
        li {
            padding: 1rem;
            line-height: 1.5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-child) {
                border-bottom: 1px solid #646464;
            }
        }
        &__title {
            display: inline-block;
            width: 40%;
        }
        &__value {
            display: inline-block;
            width: 50%;
            text-align: center;

            @media (max-width: 550px) {
                width: 70%;
            }
        }
        .altSpellings {
            li {
                padding: 0;
                border: none;
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }
        }
    }
}