@import "../base/variable.scss";
nav {
    height: 6rem;
    width: 100%;
    background-color: #e7e7e7;
    box-shadow: 0 3px 3px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    h1 {
        display: inline-block;
        color: $title-color;
        font-size: $title-l;
        font-weight: 700;
    }
    .nav {
        @include boxSize(120rem, 100%);
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}